@import "colors";
@import "variables";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $grey-300;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media (min-width: $desktop-size) {
    padding: $default-spacing $default-spacing $default-spacing/2;
  }
  @media (max-width: $mobile-size) {
    padding: $default-spacing $mobile-spacing $default-spacing/2;
  }

  p {
    font-weight: 300;
    //color: $blue-grey-200;
    margin: 0;
    padding: 0;

    a {
      //color: white;
      text-decoration: none;

      &:hover {
        color: $primary-2-color
      }
    }
  }
}