/** Based on https://www.google.com/design/spec/style/typography.html#typography-styles */

$base-font-size: 16px;

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

$display1: em(34px);
$display2: em(24px);
$subhead-font-size: em(16px);
$body-font-size: em(14px);
$caption-font-size: em(12px);

//Theme Light
$primary-text-light: rgba(0, 0, 0, 0.87);
$secondary-text-light: rgba(0, 0, 0, 0.54);
$disable-text-light: rgba(0, 0, 0, 0.26);

//Theme Dark
$primary-text-dark: rgba(255, 255, 255, 1);
$secondary-text-dark: rgba(255, 255, 255, 0.7);
$disable-text-dark: rgba(255, 255, 255, 0.3);

//Media queries
$mobile-size: (600px + 32px - 1px); //32 is 16+16 of padding
$desktop-size: (600px + 32px);

//Spacing
$toolbar-height: 56px;
$left-nav-height: $toolbar-height * 1.5;
$default-spacing: 24px;
$mobile-spacing: 16px;