.privacy {
  width: 100%;
  @media (min-width: $desktop-size) {
    padding: $default-spacing;
  }
  @media (max-width: $mobile-size) {
    padding: $mobile-spacing;
  }
  h3 {
    margin: 0;
  }
  .top {
    margin-bottom: 36px;
  }
  .section {
    padding-right: 24px;
  }
  .sub-section {
    padding-left: 24px;
  }
}