.guide-body{
  padding: @desktop-gutter;
  margin-bottom: 16px;
  background-color: white;

  h3{
    padding: 0;
  }
}

.below-subheader-min{
  padding-top: 88px; //100px - 36px + 24px
}

@media (max-width: 600px) {
  .section{
    width: 100%;
  }
}