.guide-body {
  padding: @desktop-gutter;
  margin-bottom: 16px;
  background-color: white;

  p {
    display: inline-block;
  }

  h3 {
    padding: (@toolbar-height+8px) 0 8px 0;
    //Trick for anchor scrolling with a fixed topbar
    margin: -(@toolbar-height+8px) 0 0;

    &:hover {
      a {
        display: inline;
      }
    }

    a {
      text-decoration: none;
      color: @blue-grey-400;
      display: none;
    }

    a:hover {
      color: @blue-grey-800;
      text-decoration: underline;
    }
  }

  .guide-buttons {
    display: flex;
    justify-content: center;

    .mui-flat-button {
      color: rgba(0, 0, 0, 0.26);
    }

    .active {
      color: @primary-1-color;
    }
  }

  .fluid-image-container{
    margin: 0 auto 14px auto; //14px like material-ui <p>
  }

  .toggle-center {
    margin: 0 auto 14px auto;
    width: 300px;
    max-width: 100%;

    .mui-toggle{
      margin: 10px 0;
    }
  }
}

.below-subheader-min{
  padding-top: 88px; //100px - 36px + 24px
}

@media (max-width: 599px) {
  .section{
    width: 100%;
  }
}