@import "variables.less";
@import "media-queries.less";
@import "grid.less";
@import "material-font-icons.less";
@import "icons.less";
@import "contact.less";

.sub-header-min {
  @media (min-width: @desktop-size) {
    height: 100px;
    background-color: @primary-1-color;
  }
}

.hidden{
  display: none;
}