//Toolbar
.mui-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;

  .toolbar-wrapper{
    max-width: 978px;
    margin: 0 auto;
  }

  .mui-right{
    padding: 0 16px;
  }

  .mui-toolbar-group.mui-left:first-child {
    margin-left: 0;
  }

  .mui-toolbar-group.mui-right:last-child {
    margin-right: 0;
  }

  .mui-svg-icon * {
    fill: rgba(255, 255, 255, 0.87);
    color: rgba(255, 255, 255, 0.87);
  }

  .toolbar-mobile {
    display: flex;
    height: @toolbar-height;
    align-items: center;

    .hamburger{
    }

    .toolbar-title {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.87);
      letter-spacing: 0;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
    }
  }
}