//Toolbar
.mui-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
}

.mui-toolbar .mui-toolbar-group .mui-raised-button, .mui-toolbar .mui-toolbar-group .mui-flat-button {
  margin: 0;
}

.toolbarTitle{
  color: white;
  font-weight: 500;
  margin: 0;
  line-height: 56px;
  padding: 0 16px;
}