@import "variables";
@import "colors";

.contact-body {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-size) {
    padding: $default-spacing;
  }
  @media (max-width: $mobile-size) {
    padding: 16px;
  }

  background-color: white;

  h3 {
    padding: 0 0 8px 0;
    margin: 0 8px 0 0;
  }

  p{
    margin: 0;
  }

  .message{
    display: block !important;
    width: 100% !important;
  }

  .field{
    &.left {
      @media (min-width: $desktop-size) {
        margin-right: $default-spacing;
      }
    }
    @media (min-width: $desktop-size) {
      width: calc(50% - #{$default-spacing}) !important;
    }

    @media (max-width: $mobile-size) {
      display: block !important;
      width: 100% !important;
    }
  }

  .checkbox{
    margin: $default-spacing*2 0 $default-spacing 0;
    font-size: $body-font-size;
  }
}