@import "variables";

.home {
  .screen-container {
    position: relative;
    flex: 0 0 372px;
    height: 600px;
    background-image: url('../assets/img/nexus_template.png');
    background-size: 372px 600px;

    div{
      position: absolute;
      left: 58px;
      top: 49px;
      overflow: hidden; //So we don't see the images outside of the phone boundaries
      width: 257px;
      height: 457px;
    }

    img{
      position: absolute;
      width: 257px;
      height: 457px;
      transform: translateX(100%);
      transition: all .5s ease-in-out;
    }

    .active{
      transform: translateX(0);
    }
  }

  .content-right {
    @media (min-width: $desktop-size) {
      //padding: 0 $default-spacing;
    }
    @media (max-width: $mobile-size) {
      padding: 0 $mobile-spacing $mobile-spacing*3 $mobile-spacing;
    }

    .sub-header-right {
      position: relative;
      @media (min-width: $desktop-size) {
        height: 300px - $toolbar-height - $default-spacing - $default-spacing/2;
      }
      @media (max-width: $mobile-size) {
        height: 300px - $toolbar-height;
      }

      h1, h2 {
        color: $primary-text-dark;
      }
      img {
        position: absolute;
        height: 60px;
        right: 0;
        bottom: 0;
      }
    }

    .comments {
      @media (min-width: $desktop-size) {
        padding-top: $default-spacing * 2;
      }
      @media (max-width: $mobile-size) {
        padding-top: $default-spacing;
      }
      p {
        font-size: $subhead-font-size;
        font-weight: 300;
        &.right {
          margin: 0;
          text-align: right;
        }
      }
    }
  }
}